body{
    background-color: #24D34E;
}

header{
    height: 10vw;
    width: 100%;

}

h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 5vw;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}

h2{
    width: 70%;
    margin: 5vw auto 3vw auto;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.subheader-container{
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.subheader-nickname{
    width: 20%;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.choose-source{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.col-size{
    text-align: center;
    margin-top: 5vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 3vw;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.blurredView{
    position:absolute;
    display: flex;
    height: 100vh;
    width: 100vw;
    z-index: 1;
    align-items: center;
    justify-content: center;
}

.modalEnter{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 600;
    font-size: 2.5vw;
    line-height: 100%;
    width: 35vw;
    height: 40vh;
    border-radius: 2vw;
    background-color: black;
    color: white;
    z-index: 10;
}

.greetings{
    display: inline-block;
    margin-top: 5vh;
}

.greetings span{
    color: #24D34E;
}

.enterSpoti{
    height: 8vh;
    width: 22vw;
    background-color: #24D34E;
    border-radius: 3vw;
    margin-top: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.spotiLogo{
    width: 60%;
    height: 60%;
    object-fit: contain;
}

@media only screen and (max-width: 600px) {
    h1{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 10vw;
        text-align: center;
        letter-spacing: 0.1em;
        color: #FFFFFF;
    }
    h2{
        width: 70%;
        margin: 10vw auto 3vw auto;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 5vw;
        line-height: 100%;
        text-align: center;
        letter-spacing: 0.025em;
        color: #FFFFFF;
    }

    .modalEnter{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 600;
        font-size: 5vw;
        line-height: 100%;
        width: 55vw;
        height: 55vw;
        border-radius: 2vw;
        background-color: black;
        color: white;
        z-index: 10;
    }

    .enterSpoti{
        height: 10vw;
        width: 32vw;
        background-color: #24D34E;
        border-radius: 3vw;
        margin-top: 10vw;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
    }
  }