.preview-section{
    margin-top: 4vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.preview-header{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2.5vw;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}

.preview-grid{
    margin-top: 2vw;
    height: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: repeat(2, 1fr);
    margin-bottom: 1vw;
    border: 0.2vw solid #ffffff83;
    border-radius: 0.5vw;
}

.square{
    width: 100%;
    height: 100%;
    background-color: rgba(250, 235, 215, 0);
    box-sizing: border-box;
    border: 0.1vw solid #ffffff83;
    box-sizing: border-box;
	background-size:cover; 
	background-position:center; 
	background-repeat:no-repeat; 
}

.preview-header-loading{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 2vw;
    margin-top: 1vw;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
}
/* 
.previewImage{
    object-fit: cover;
    width: 100%;
    height: 100%;
} */