.toggle-switch-container{
    margin-top: 2vw;
    display: flex;
    justify-content: center;
}

.tri-state-toggle input {
    width: 20vw;
    height: 8vw;
    appearance: none;
    background-color: #ffffffff;
    border-radius: 50%;
    opacity: 0;
    transition: 0.3s;
}

.tri-state-toggle input:hover {
    cursor: pointer;
}

.tri-state-toggle {
    position: relative;
    width: 60vw;
    display: flex;
    justify-content: center;
    border: 0.5vw solid #ffffff83;
    border-radius: 5vw;
}

#one{
    border-radius: 0;
    border-top-left-radius: 5vw;
    border-bottom-left-radius: 5vw;
    opacity: 0.56;
}


#two{
    border-radius: 0;
}

#three{
    border-radius: 0;
    border-top-right-radius: 5vw;
    border-bottom-right-radius: 5vw;
}

.input-value{
    display: inline;
    position: absolute;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1.7vw;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.025em;
    color: #FFFFFF;
    pointer-events: none;
}

#fav-artist{
    top: 3.3vw;
    left: 3.5vw;
}

#fav-playlist{
    top: 3.3vw;
    left: 23vw;
}

#whole-lib{
    top: 3.3vw;
    left: 43vw;
}